name: CI/CD Pipeline AutoPartss - Completo

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test-security:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write

    steps:
      # 1. Bajar código (fetch-depth: 0 es importante para Sonar)
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 2. SonarCloud Scan (Análisis de Calidad)
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_ORG: ${{ secrets.SONAR_ORG }}
          SONAR_PROJECT_KEY: ${{ secrets.SONAR_PROJECT_KEY }}

      # 3. Snyk Security (Vulnerabilidades en dependencias)
      - name: Run Snyk Security Test
        run: |
          npm install -g snyk
          snyk auth ${{ secrets.SNYK_TOKEN }}
          snyk test --file=requirements.txt --severity-threshold=high
        continue-on-error: false

      # 4. Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # 5. Construir y Subir imagen Docker (Publicación)
      - name: Build and push final image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/autoparts-app:latest

      # 6. Docker Scout (Escaneo de la imagen publicada)
      - name: Docker Scout Scan
        uses: docker/scout-action@v1
        with:
          command: quickview
          only-severities: critical,high
          image: ${{ secrets.DOCKERHUB_USERNAME }}/autoparts-app:latest
        continue-on-error: false
